$unpaths: (
    // Radio options
    ".radioBar-3w9XY- div:first-of-type svg:not([class]) path:only-child"
    "M 20 20 V 4 H 4 V 20 Z M 22 22 V 2 H 2 V 22 Z",
    // Upload media
    ".attachButtonPlus-3IYelE"
    "M 2 2 V 22 H 22 V 2 Z M 17 13 H 13 V 17 H 11 V 13 H 7 V 11 H 11 V 7 H 13 V 11 H 17 V 13 Z",
);

$repaths: (
    // Radio options
    ".radioBar-3w9XY- div:first-of-type svg:not([class])"
    "M 20 20 V 4 H 4 V 20 Z M 22 22 V 2 H 2 V 22 Z M 18 18 V 6 H 6 V 18 Z",
    // Start time checkbox in event
    ".selectedIcon-19TbzU"
    "M 2 2 V 22 H 22 V 2 Z M 10 17 l -5 -5 l 1.41 -1.41 L 10 14.17 l 7.59 -7.59 L 19 8 l -9 9 Z",
    // Keybinds warning
    ".icon-2fP4ae"
    "M 0 0 V 20 H 20 V 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z",
    // Server boost tier
    ".tierMarkerLabelPlusIcon-2zLkr7"
    "M 2 2 V 22 H 22 V 2 Z M 17 13.001 H 13 V 17.001 H 11 V 13.001 H 7 V 11.001 H 11 V 7.001 H 13 V 11.001 H 17 V 13.001 Z",
    // Clear forum search/post title
    ".closeIcon-3xe5xL"
    "M 0 0 V 14 H 14 V 0 Z M 10.166 9.1952 L 9.2233 10.1379 L 7.028 7.9432 L 4.8327 10.1379 L 3.89 9.1952 L 6.0847 6.9999 L 3.8893 4.8046 L 4.832 3.8626 L 7.0273 6.0579 L 9.2227 3.8626 L 10.1653 4.8046 L 7.9707 6.9999 L 10.166 9.1952 Z",
    // Upload media
    "#channel-attach-upload-file .tipIcon-24kLNQ"
    "M 2 2 V 22 H 22 V 2 Z M 17 13 H 13 V 17 H 11 V 13 H 7 V 11 H 11 V 7 H 13 V 11 H 17 V 13 Z",
    // Use apps
    "#channel-attach-SLASH_COMMAND .optionIcon-1Ft8w0"
    "M 3 3 V 21 H 21 V 3 Z M 16.8995 8.4142 L 15.4853 7 L 7 15.4853 L 8.4142 16.8995 L 16.8995 8.4142 Z",
    // Play TTS preview
    ".ttsPreviewWrapper-1d5bI6"
    "M 3 2 L 16 9 L 3 16 Z",
    // Play Video background preset
    ".playIcon-dKlNBm"
    "M 3 2 L 16 9 L 3 16 Z",
    // Play video
    ".icon-ib-Wfj"
    "M 3 2 L 16 9 L 3 16 Z",
    // Play video 2
    ".iconPlay-3weMmb"
    "M 3 2 L 16 9 L 3 16 Z",
    // Open video externally
    ".iconExternalMargins-2Ufdu_"
    "M 18 0 H 0 V 16 H 6 V 14 H 2 V 4 H 16 V 14 H 12 V 16 H 18 Z M 9 6 l -4 4 h 3 v 6 h 2 v -6 h 3 L 9 6 z",
    // Thread spine
    ".spine-29OFwR"
    "M 11 9 H 2 V 0 H 0 V 11 H 11 Z",
    // Edit custom status cross
    "#edit-custom-status"
    "M 1 1 V 13 H 13 V 1 Z M 10.166 9.1952 L 9.2233 10.1379 L 7.028 7.9432 L 4.8327 10.1379 L 3.89 9.1952 L 6.0847 6.9999 L 3.8893 4.8046 L 4.832 3.8626 L 7.0273 6.0579 L 9.2227 3.8626 L 10.1653 4.8046 L 7.9707 6.9999 L 10.166 9.1952 Z",
    // Active option check
    ".activeIcon-1ykRnF"
    "M 2 2 V 22 H 22 V 2 Z M 10 17 l -5 -5 l 1.41 -1.41 L 10 14.17 l 7.59 -7.59 L 19 8 l -9 9 z",
    // Selected option check
    ".selectedIcon-122rMx"
    "M 2 2 V 22 H 22 V 2 Z M 10 17 l -5 -5 l 1.41 -1.41 L 10 14.17 l 7.59 -7.59 L 19 8 l -9 9 z",
    // Privacy and safety radio
    ".radioBar-1XgZqD"
    "M 20 20 V 4 H 4 V 20 Z M 22 22 V 2 H 2 V 22 Z",
    // Billing
    ".lockIcon-1DvPA6"
    "M 20 8 H 17 V 1 H 7 V 8 H 4 V 22 H 20 Z M 9 3 V 8 H 15 V 3 Z M 16 16 H 13 V 19 H 11 V 16 H 8 V 14 H 11 V 11 H 13 V 14 H 16 V 16 Z",
    // Voice and video mic test bar
    "#pill-frame-pattern"
    "m 0 0 h 8 v 20 h -8 z M 2 2 V 18 H 6 V 2 Z",
    // Registered games overlay toggle
    ".overlayToggleIconOn-21NN2N"
    "M 2 2.5 V 17.5 H 11 V 19.5 H 7 V 21.5 H 17 V 19.5 H 13 V 17.5 H 22 V 2.5 Z M 20 4.5 V 13.5 H 4 V 4.5 H 20 Z",
    ".overlayToggleIconOff-ps4gGp"
    "M 9 19 H 11 V 21 H 7 V 23 H 17 V 21 H 13 V 19 H 22 V 6 L 20 8 V 15 H 13 L 9 19 Z M 13 6 H 4 V 15 H 4 L 2 17 V 4 H 15 L 13 6 Z",
    // Verified flower icon
    ".flowerStar-2tNFCR"
    "m 0 0 h 16 v 16 h -16 z",
    // Game overlay disabled
    ".disabledIcon-1rpL82"
    "M 2 2 V 22 H 22 V 2 Z M 4 5.5 l 14.5 14.5 H 4 Z M 5.5 4 l 14.5 14.5 V 4 Z",
    // Information badge
    ".notEnoughMembersError-3-VD0N"
    "M 1 1 H 11 V 11 H 1 Z M 6 3.376 a 0.625 0.625 0 1 1 0 1.25 a 0.625 0.625 0 0 1 0 -1.25 z M 7.5 8.5 h -3 v -1 h 1 V 6 H 5 V 5 h 1 a 0.5 0.5 0 0 1 0.5 0.5 v 2 h 1 v 1 z",
    // Close theme preview
    ".closeCircle-3Z0F6p"
    "M 0.3333 0.3333 V 13.6666 H 13.6666 V 0.3333 Z M 10.166 9.1952 L 9.2233 10.1379 L 7.028 7.9432 L 4.8327 10.1379 L 3.89 9.1952 L 6.0847 6.9999 L 3.8893 4.8046 L 4.832 3.8626 L 7.0273 6.0579 L 9.2227 3.8626 L 10.1653 4.8046 L 7.9707 6.9999 L 10.166 9.1952 Z",
);

$textbuttons: (
    // Give nitro
    "M16.886 7.999"
    "M 13 8 H 22 V 12 H 13 Z M 11 12 V 8 H 2 V 12 Z M 17 6 V 2 H 14 l -2 2 l -2 -2 h -3 v 4 Z M 3 14 V 22 H 11 V 14 Z M 13 14 V 22 H 21 V 14 Z",
    // Pick gif
    "m2 2c-1.1046 0-2 0.89543-2 2"
    "M 0 2 V 22 H 24 V 2 Z M 4.4846 15.931 c 0.5583 0.375 1.2 0.5625 1.925 0.5625 c 0.9667 0 1.6958 -0.3333 2.1875 -1 l 0.2375 0.825 h 1.475 v -4.9 h -3.7625 v 1.625 h 1.9875 v 1.075 c -0.1583 0.225 -0.3833 0.4042 -0.675 0.5375 c -0.2833 0.125 -0.5958 0.1875 -0.9375 0.1875 c -0.7667 0 -1.3542 -0.2458 -1.7625 -0.7375 c -0.4083 -0.4916 -0.6125 -1.1916 -0.6125 -2.1 c 0 -0.9 0.2042 -1.5958 0.6125 -2.0874 c 0.4083 -0.5 0.9958 -0.75 1.7625 -0.75 c 0.8417 0 1.475 0.3917 1.9 1.175 l 1.4125 -1.0124 c -0.3 -0.575 -0.7459 -1.0208 -1.3375 -1.3375 c -0.5833 -0.3167 -1.2458 -0.475 -1.9875 -0.475 c -0.875 0 -1.6292 0.1917 -2.2625 0.575 c -0.625 0.3833 -1.1042 0.9125 -1.4375 1.5875 c -0.325 0.675 -0.4875 1.45 -0.4875 2.325 c 0 0.8834 0.1542 1.6667 0.4625 2.35 c 0.3083 0.675 0.7417 1.2 1.3 1.575 z m 7.4509 0.3875 h 1.825 v -8.625 h -1.825 v 8.625 z m 3.5767 0 h 1.825 v -3.275 h 3.2 v -1.65 h -3.2 v -2.05 h 3.9375 v -1.65 h -5.7625 v 8.625 z",
    // Pick sticker
    "M12.0002 0.662583"
    "M 12 0 V 8 H 20 Z M 10 10 V 0 H 0 V 20 H 20 V 10 H 10 Z"
);

$toolbarbuttons: (
    // Inbox
    ".recentsIcon-F3eO1o"
    "M 21 3 H 3 L 3 21 H 21 Z M 19 15 H 15 V 18 H 9 V 15 H 5 V 5 H 19 V 15 Z",
    // Help
    "a"
    "M 2 2 V 22 H 22 V 2 Z M 12 18.25 C 11.31 18.25 10.75 17.691 10.75 17 C 10.75 16.31 11.31 15.75 12 15.75 C 12.69 15.75 13.25 16.31 13.25 17 C 13.25 17.691 12.69 18.25 12 18.25 Z M 13 13.875 V 15 H 11 V 12 H 12 C 13.104 12 14 11.103 14 10 C 14 8.896 13.104 8 12 8 C 10.896 8 10 8.896 10 10 H 8 C 8 7.795 9.795 6 12 6 C 14.205 6 16 7.795 16 10 C 16 11.861 14.723 13.429 13 13.875 Z",
);

$channelicons: (
    // Browse channels icon
    "M5.00328 17.5"
    "M 5.6 16.8 V 13.6 H 2.4 V 12 H 5.6 V 7.2 H 2.4 V 5.6 H 5.6 V 2.4 H 7.2 V 5.6 H 12 V 2.4 H 13.6 V 5.6 H 16.8 V 7.2 H 13.6 V 8.8 H 12 V 7.2 H 7.2 V 12 H 8.8 V 13.6 H 7.2 V 16.8 Z",
    "M10.4 14"
    "M 10 17 V 10 H 17 V 16 L 19 18 L 18 19 L 16 17 Z M 11.5 11.5 h 4 v 4 h -4 Z",

    // Rules channel icon
    "M33 34.5833"
    // "M 5 31 l 3 3 l 9 -9 l 5 5 l -1 1 l 2 2 l 12 -12 l -2 -2 l -1 1 l -13 -13 l 1 -1 l -2 -2 l -12 12 l 2 2 l 1 -1 l 5 5 Z",
    // "M 5 3 V 24 H 9 V 22 H 18 V 35 H 22 V 22 H 31 V 24 H 35 V 3 H 31 V 5 H 9 V 3 Z",
    "M 5 3 H 35 V 35 H 5 Z M 8 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z",
    
    // Text channel icon
    "M5.88657 21"
    "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 15 V 3 H 17 V 7 H 21 V 9 H 17 V 15 H 21 V 17 H 17 V 21 H 15 V 17 H 9 V 21 Z M 9 9 V 15 H 15 V 9 H 9 Z",
    // Text channel with upper cutout
    "M14 8"
    "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 15 V 13 H 17 V 15 H 21 V 17 H 17 V 21 H 15 V 17 H 9 V 21 Z",
    // Text channel with lower cutout
    "M5.43309 21"
    "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 15 V 3 H 17 V 7 H 21 V 9 H 17 V 11 H 15 V 9 H 9 V 15 H 13 V 17 H 9 V 21 Z",
    // Text channel with upper lock cutout and lower cutout
    "M15.44 6.99992"
    "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 14 V 17 H 9 V 21 Z",
    // Text channel with upper NSFW cutout and lower cutout
    "M14.4 7"
    "M 6 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 14 V 17 H 9 V 21 Z",

    // Announcements channel icon
    "M19.1 4"
    "M 5 4 V 20 H 7 V 15 H 21 V 5 H 7 V 4 Z",
    "M3.9 8.26"
    "",
    // Announcements channel icon with upper NSFW cutout
    "M4.85 8.26445"
    "M 5 4 V 20 H 7 V 15 H 21 v -1 h -9 V 5 H 7 V 4 Z",
    "M3.9 8.25998"
    "",
    // Announcements channel icon with upper lock cutout
    "M4.85 8.26429"
    "M 5 4 V 20 H 7 V 15 H 21 v -1 h -9 V 5 H 7 V 4 Z",
    "M3.9 8.25981"
    "",
    // Announcements channel icon with upper NSFW cutout and lower cutout
    "M16.6811 5.6591"
    "M 5 4 V 20 H 7 V 15 H 11 V 11 H 12 V 5 H 7 V 4 Z",
    "M3.89988 8.2599"
    "",
    // Announcements channel icon with upper lock cutout and lower cutout
    "M15.84 5.84438"
    "M 5 4 V 20 H 7 V 15 H 11 V 11 H 12 V 5 H 7 V 4 Z",
    "M3.9 8.25994"
    "",

    // Stage channel icon
    // Stage channel icon with upper cutout
    "M15 2.41495"
    "",
    "M21.0173 10"
    "",
    "M14 13"
    "",
    "M8.5 19.5"
    "",
    "M7 13"
    "",
    // Stage channel icon with upper NSFW cutout

    // Forum channel icon
    "M6.56929"
    "M 2.4 2.4 V 14.4 H 9.6 l 2.4 2.4 l 2.4 -2.4 H 16.8 V 2.4 Z M 4 4 v 8.8 h 7.2 v -8.8 z M 12.8 4 v 8.8 h 2.4 v -8.8 z",
    // Forum channel icon with upper cutout
    "M13 4"
    "M 3 3 V 18 H 12 L 15 21 L 18 18 H 21 V 10 h -2 v 6 h -3 V 10 H 14 V 16 H 5 V 5 H 14 V 3 Z",

    // Voice channel icon
    "M11.383 3.07904"
    "M 11 3 L 6 8 H 2 V 15 H 6 L 11 20 H 12 V 3 Z M 14 6 h 7 v 2 h -7 Z M 14 10 h 7 v 3 h -7 Z M 14 15 h 7 v 2 h -7 Z",
    // Voice channel with upper cutout
    "M15 12"
    "M 11 3 L 6 8 H 2 V 15 H 6 L 11 20 H 12 V 3 Z M 14 12 h 7 v 1 h -7 Z M 14 15 h 7 v 2 h -7 Z",

    // Upper - NSFW icon - text
    "M19.8914 3.80204"
    "M 14 3 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
    // Upper - NSFW icon - text - combined with lower icon
    "M22.8093 8.55658"
    "M 14 3 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
    // Upper - NSFW icon - voice
    "M19.8916 3.80204"
    "M 14 2 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
    // Upper - NSFW icon - forum
    "M22.2821 7.55654"
    "M 14 1 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
    // Upper - NSFW icon - stage
    //
    // Upper - NSFW icon - announcements
    "M20.4683 4.76211"
    "M 14 4 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
    // Upper - NSFW icon - announcements - combined with lower icon
    "M20.4681 4.76205"
    "M 14 3 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",

    // Upper - Lock icon - text / voice
    "M21.025 5"
    "M 14 11 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
    // Upper - Lock icon - text / voice - combined with lower icon
    "M22.545 4.91992"
    "M 14 11 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
    // Upper - Lock icon - forum
    "M21.025 4"
    "M 14 9 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
    // Upper - Lock icon - stage
    "M22.025 2"
    "M 15 9 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
    // Upper - Lock icon - announcements
    "M22.545 4.87988"
    "M 14 12 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
    // Upper - Lock icon - announcements - combined with lower icon
    "M22.545 4.88"
    "M 14 11 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",

    // Lower - Thread icon - text / voice
    "M13.4399 12.96"
    "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z",
    // Lower - Thread icon - text / voice - combined with NSFW icon
    "M12.48 13.92"
    "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z",
    // Lower - Thread icon - text / voice - combined with lock icon
    "M13.44 12.9599"
    "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z",
    // Lower - Thread icon - announcements - combined either upper icon
    "M13.44 12.96"
    "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z",
);

$deviceicons: (
    // Devices PC
    "M4 2.5"
    "M 2 2.5 V 17.5 H 11 V 19.5 H 7 V 21.5 H 17 V 19.5 H 13 V 17.5 H 22 V 2.5 Z M 20 4.5 V 13.5 H 4 V 4.5 H 20 Z",
    // Devices phone
    "M15.5 1"
    "M 17 1 h 2 v 4 h -2 z m 0 5 h 2 v 2 h -2 z m -3.5 -6 h 9 v 9 h -9 z",
);

$discoverychecks: (
    // No
    "M7.02799 0.333252"
    "M 0 0 h 14 v 14 h -14 Z M 10.166 9.1952 L 9.2233 10.1379 L 7.028 7.9432 L 4.8327 10.1379 L 3.89 9.1952 L 6.0847 6.9999 L 3.8893 4.8046 L 4.832 3.8626 L 7.0273 6.0579 L 9.2227 3.8626 L 10.1653 4.8046 L 7.9707 6.9999 L 10.166 9.1952 Z",
    // Maybe
    "M10 0"
    "M 0 0 V 20 H 20 V 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 11 15 H 9 V 13 H 11 Z",
);

@each $selector, $path in $unpaths {
    #{$selector} {
        d: path($path);
    }
}

@each $selector, $path in $repaths {
    #{$selector} path {
        d: path($path);
        fill-rule: evenodd;
    }
}

@each $oldpath, $newpath in $textbuttons {
    .channelTextArea-1FufC0 path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}

@each $selector, $path in $toolbarbuttons {
    #{$selector} .icon-2xnN2Y path {
        d: path($path);
    }
}

@each $oldpath, $newpath in $channelicons {
    .icon-2W8DHg path[d^="#{$oldpath}"] {
        d: path($newpath);
        fill-rule: evenodd;
    }
}

@each $oldpath, $newpath in $deviceicons {
    .sessionIcon-2fwSzb path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}

@each $oldpath, $newpath in $discoverychecks {
    .checklistIcon-D7psvE path[d^="#{$oldpath}"] {
        d: path($newpath);
        fill-rule: evenodd;
    }
}