$r: (
	".radioIconForeground-2BMavi",
	// Radio options
	".bar_a4fd01",
	// Sticker slot boost tier
);

$rx: (
	".slider_cebd1c rect",
	// Toggle slider
	".bd-switch-handle",
	// BD toggle slider
	".container-yn4cwV rect",
	// Stage moderator badge
	".noItemsIcon_a206c7 rect",
	// Subscriptions no items icon
	".noItemsIcon_e70817 rect",
	// Subscriptions no items icon
);

@each $selector in $r {
	#{$selector} {
		r: var(--squared-radius);
	}
}

@each $selector in $rx {
	#{$selector} {
		rx: var(--squared-radius);
	}
}
