$r: (
    ".radioIconForeground-2BMavi",
    // Radio options
    ".bar__73988",
    // Sticker slot boost tier
);

$rx: (
    ".slider__41d94 rect",
    // Toggle slider
    ".bd-switch-handle",
    // BD toggle slider
    ".container-yn4cwV rect",
    // Stage moderator badge
    ".noItemsIcon_b1e42b rect",
    // Subscriptions no items icon
    ".noItemsIcon__38ca2 rect",
    // Subscriptions no items icon
);

@each $selector in $r {
    #{$selector} {
        r: 0;
    }
}

@each $selector in $rx {
    #{$selector} {
        rx: 0;
    }
}
