$_empty: "";
$_strike: "M 23 4 L 21 2 L 1 22 L 3 24 Z";
$_threads-text: "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z";

$selectpathpairs: (
    // Inbox
    ".recentsIcon__3c4cf":
        "M 21 3 H 3 L 3 21 H 21 Z M 19 15 H 15 V 18 H 9 V 15 H 5 V 5 H 19 V 15 Z",
    // Help
    "a":
        "M 2 2 V 22 H 22 V 2 Z M 12 18.25 C 11.31 18.25 10.75 17.691 10.75 17 C 10.75 16.31 11.31 15.75 12 15.75 C 12.69 15.75 13.25 16.31 13.25 17 C 13.25 17.691 12.69 18.25 12 18.25 Z M 13 13.875 V 15 H 11 V 12 H 12 C 13.104 12 14 11.103 14 10 C 14 8.896 13.104 8 12 8 C 10.896 8 10 8.896 10 10 H 8 C 8 7.795 9.795 6 12 6 C 14.205 6 16 7.795 16 10 C 16 11.861 14.723 13.429 13 13.875 Z"
);

$pathpairs: (
    // Members
    "M14 8.00598":
        "M 2 20 v -7 h 16 v 7 z M 6 11 v -8 h 8 v 8 z",
    "M20.0001 20.006":
        "M 20 20 v -7 h 2 v 7 z",
    "M14.8834 11.9077":
        "M 16 11 v -8 h 2 v 8 z",

    // Pinned
    "M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z":
        "M 22 12 L 12 2 L 10 4 L 12 6 L 8 10 L 6 8 L 4 10 L 8 14 L 2 20 L 4 22 L 10 16 L 14 20 L 16 18 L 14 16 L 18 12 L 20 14 L 22 12 Z",

    // Notifications
    // Enabled
    "M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z":
        "m 18 14 v 0 h 3 v 3 h -18 v -3 h 3 v -11 h 12 z m -9 7 v -2 h 6 v 2 z",
    // Disabled
    "M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z":
        $_empty,
    "M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z":
        $_empty,
    "M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z":
        "m 18 14 v 0 h 3 v 3 h -18 v -3 h 3 v -11 h 12 z m -9 7 v -2 h 6 v 2 z",
    "M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z":
        $_strike,

    // Threads
    "M5.43309 21":
        "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 15 V 3 H 17 V 7 H 21 V 9 H 17 V 11 H 15 V 9 H 9 V 15 H 13 V 17 H 9 V 21 Z",
    "M13.4399 12.96": $_threads-text
);
