// Button icons

@use "sass:string";

@use "./text";
@use "./toolbar";
@use "./userpanel";

@each $oldpath, $newpath in text.$pathpairs {
    .channelTextArea__2e60f path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}

@each $oldpath, $newpath in toolbar.$pathpairs {
    .toolbar__88c63 path[d^="#{string.slice($oldpath, 1, 20)}"] {
        d: path($newpath);
    }
}

@each $selector, $path in toolbar.$selectpathpairs {
    #{$selector} .icon__4cb88 path {
        d: path($path);
    }
}

@each $oldpath, $newpath in userpanel.$pairpaths {
    .container_ca50b9 path[d^="#{string.slice($oldpath, 1, 20)}"] {
        d: path($newpath);
    }
}
