// Button icons

@use "sass:string";

@use "./text";
@use "./toolbar";
@use "./userpanel";

@each $oldpath, $newpath in text.$pathpairs {
    .channelTextArea_c2094b path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}

@each $oldpath, $newpath in toolbar.$pathpairs {
    .toolbar__62fb5 path[d^="#{string.slice($oldpath, 1, 20)}"] {
        d: path($newpath);
    }
}

@each $selector, $path in toolbar.$selectpathpairs {
    #{$selector} .icon_ae0b42 path {
        d: path($path);
    }
}

@each $oldpath, $newpath in userpanel.$pairpaths {
    .container_debb33 path[d^="#{string.slice($oldpath, 1, 20)}"] {
        d: path($newpath);
    }
}
