$_nsfw-text: "M 14 3 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z";
$_lock-text: "M 14 11 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z";
$_threads-text: "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z";

$_empty: "";
$_nsfw-announce: "M 14 4 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z";
$_lock-announce: "M 14 12 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z";
$_threads-announce: "M 13 12.5 v 8 h 3 l 2 2 v 0 l 2 -2 h 2 v -8 z m 2 2 v 4 h 5 v -4 z";

$pathpairs: (
	// //////////////////// ---- Text channels ---- ////////////////////
	// // Normal
	// // Channel
	// "M5.88657 21":
	//     "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 15 V 3 H 17 V 7 H 21 V 9 H 17 V 15 H 21 V 17 H 17 V 21 H 15 V 17 H 9 V 21 Z M 9 9 V 15 H 15 V 9 H 9 Z",
	//
	// // With lock or NSFW (upper)
	// // Channel
	// "M14 8C14 7.44772 13.5523 7 13 7":
	//     "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 15 V 13 H 17 V 15 H 21 V 17 H 17 V 21 H 15 V 17 H 9 V 21 Z",
	// // Lock
	// "M21.025 5": $_lock-text,
	// // NSFW
	// "M19.8914 3.80204": $_nsfw-text,
	//
	// // With threads (lower)
	// // Channel
	// "M5.43309 21":
	//     "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 15 V 3 H 17 V 7 H 21 V 9 H 17 V 11 H 15 V 9 H 9 V 15 H 13 V 17 H 9 V 21 Z",
	// // Threads
	// "M13.4399 12.96": $_threads-text,
	//
	// // With lock and threads (upper and lower)
	// // Channel
	// "M15.44 6.99992":
	//     "M 7 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 14 V 17 H 9 V 21 Z",
	// // Lock
	// "M22.545 4.91992": $_lock-text,
	// // Threads
	// "M13.44 12.9599": $_threads-text,
	//
	// // With NSFW and threads (upper and lower)
	// // Channel
	// "M14.4 7":
	//     "M 6 21 V 17 H 3 V 15 H 7 V 9 H 3 V 7 H 7 V 3 H 9 V 7 H 14 V 9 H 9 V 15 H 14 V 17 H 9 V 21 Z",
	// // NSFW
	// "M22.8093 8.55658": $_nsfw-text,
	// // Threads
	// "M12.48 13.92": $_threads-text,
	// //////////////////// ---- Announcement channels ---- ////////////////////
	// // Normal
	// // Channel
	// "M3.9 8.26": $_empty,
	// "M19.1 4":
	//     "M 5 4 V 20 H 7 V 15 H 21 V 5 H 7 V 4 Z",
	//
	// // With lock or NSFW (upper)
	// // Channel
	// "M3.9 8.25998": $_empty,
	// "M4.85 8.26445":
	//     "M 5 4 V 20 H 7 V 15 H 21 v -1 h -9 V 5 H 7 V 4 Z",
	// // Lock
	// "M22.545 4.87988": $_lock-announce,
	// // NSFW
	// "M20.4683 4.76211": $_nsfw-announce,
	//
	// // With threads (lower)
	// // Channel
	// "M3.89988 8.25994": $_empty,
	// "M19.0999 3.99994":
	//     "m 5 4 v 16 h 2 v -5 h 5 v -4 h 9 v -6 h -14 v -1 z",
	// // Threads
	// // "M12.48 13.92": "", // Duplicate
	// // With NSFW and threads (upper and lower)
	// // Channel
	// "M3.89988 8.2599": $_empty,
	// "M16.6811 5.6591":
	//     "M 5 4 V 20 H 7 V 15 H 11 V 11 H 12 V 5 H 7 V 4 Z",
	// // NSFW
	// "M20.4681 4.76205": $_nsfw-announce,
	// // Threads
	// "M13.44 12.96": $_threads-announce,
	//
	// // With lock and threads (upper and lower)
	// // Channel
	// "M3.9 8.25994": $_empty,
	// "M15.84 5.84438":
	//     "M 5 4 V 20 H 7 V 15 H 11 V 11 H 12 V 5 H 7 V 4 Z",
	// // Lock
	// "M22.545 4.88": $_lock-announce,
	// // Threads
	// // "M13.44 12.96": "", // Duplicate
	// //////////////////// ---- Forum channels ---- ////////////////////
	// // Normal
	// // Channel
	// "M6.56929 14.6869":
	//     "M 2.4 2.4 V 14.4 H 9.6 l 2.4 2.4 l 2.4 -2.4 H 16.8 V 2.4 Z M 4 4 v 8.8 h 7.2 v -8.8 z M 12.8 4 v 8.8 h 2.4 v -8.8 z",
	//
	// // With lock or NSFW (upper)
	// // Channel
	// "M13 4":
	//     "M 3 3 V 18 H 12 L 15 21 L 18 18 H 21 V 10 h -2 v 6 h -3 V 10 H 14 V 16 H 5 V 5 H 14 V 3 Z",
	// // Lock
	// "M21.025 4":
	//     "M 14 9 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
	// // NSFW
	// "M22.2821 7.55654":
	//     "M 14 1 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
	//
	// //////////////////// ---- Rules channels ---- ////////////////////
	// // Normal
	// // Channel
	// "M33 34.5833":
	//     "M 5 3 H 35 V 35 H 5 Z M 8 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z m -6 7 h 3 v 3 h -3 z m 6 0 h 18 v 3 h -18 z",
	//
	// //////////////////// ---- Voice channels ---- ////////////////////
	// // Normal
	// // Channel
	// "M11.383 3.07904":
	//     "M 11 3 L 6 8 H 2 V 15 H 6 L 11 20 H 12 V 3 Z M 14 6 h 7 v 2 h -7 Z M 14 10 h 7 v 3 h -7 Z M 14 15 h 7 v 2 h -7 Z",
	//
	// // With lock or NSFW (upper)
	// // Channel
	// "M15 12":
	//     "M 11 3 L 6 8 H 2 V 15 H 6 L 11 20 H 12 V 3 Z M 14 12 h 7 v 1 h -7 Z M 14 15 h 7 v 2 h -7 Z",
	// // Lock
	// // "M21.025 5": "", // Duplicate
	// // NSFW
	// "M19.8916 3.80204":
	//     "M 14 2 h 8 v 8 h -8 z m 3.25 1 h 1.5 v 3.5 h -1.5 z m 0 4.5 h 1.5 v 1.5 h -1.5 z",
	// //////////////////// ---- Stage channels ---- ////////////////////
	// // With lock (upper)
	// // Channel
	// "M15 2.41495":
	//     "M 1 20 v -18 h 14 v 2 h -12 v 16 z",
	// "M21.0173 10":
	//     "M 21 20 v -10 h 2 v 10 z",
	// "M14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C13.1 11 14 11.9 14 13Z":
	//     "M 10 15 v -4 h 4 v 4 z",
	// "M8.5 19.5": "M 9 20 v -4 h 6 v 4 z",
	// "M7 13":
	//     "M 5 20 v -14 h 14 v 14 h -2 v -12 h -10 v 12 z",
	// // Lock
	// "M22.025 2":
	//     "M 15 9 h 8 v -6 h -1 v -3 h -6 v 3 h -1 z m 2 -6 h 4 v -2 h -4 z",
	//
	// // Normal
	// // Channel
	// "M14 13C14 14.1 13.1 15 12 15C10.9 15 10 14.1 10 13C10 11.9 10.9 11 12 11C13.1 11 14 11.9 14 13ZM8.5 20":
	//     "M 1 20 v -18 h 22 v 18 h -2 h 0 v -16 h -18 v 16 z m 4 0 v -14 h 14 v 14 h -2 v -12 h -10 v 12 z M 9 20 V 16 H 15 V 20 Z M 10 15 V 11 H 14 V 15 Z",
	//
	// //////////////////// ---- Special channels ---- ////////////////////
	// // Server guide
	// "M7 15H9":
	//     "m 7 15 h 2 v -7 h 3.5 l 2.5 -2.5 l -2.5 -2.5 h -10.5 v 5 h 5 z",
	// "M5 14": $_empty,
	//
	// // Events
	// "M19 3":
	//     "m 21 3 h -3 v -1 h -2 v 1 h -8 v -1 h -2 v 1 h -3 l 0 18 h 18 z m -2 16 h -14 v -11 h 14 v 11 z m -12 -9 h 5 v 5 h -5 v -5 z",
	//
	// // Channels and roles
	// // Channel
	// "M5.00328 17.5":
	//     "M 4 19 v -4 h -4 v -2 h 4 v -6 h -4 v -2 h 4 v -4 h 2 v 4 h 6 v -4 h 2 v 4 h 4 v 2 h -4 v 3 h -2 v -3 h -6 v 6 h 4 v 2 h -4 v 4 z",
	// // Magnifying glass
	// "M10.4 14":
	//     "M 11 20 v -3 h 8 v 3 z m 2 -4 v -4 h 4 v 4 z",
	//
	// // Members
	// // Channel
	// "M14 8.00598":
	//     "M 2 20 v -7 h 16 v 7 z M 6 11 v -8 h 8 v 8 z",
	// "M20.0001 20.006":
	//     "M 20 20 v -7 h 2 v 7 z",
	// "M14.8834 11.9077":
	//     "M 16 11 v -8 h 2 v 8 z"
);
