// Icons

@use "./channel";
@use "./device";

@each $oldpath, $newpath in channel.$pathpairs {
    // Channel list
    .icon-2W8DHg path[d^="#{$oldpath}"],
    // Header
    .children-3xh0VB path[d^="#{$oldpath}"] {
        d: path($newpath);
        fill-rule: evenodd;
    }
}

@each $oldpath, $newpath in device.$pathpairs {
    .sessionIcon-2fwSzb path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}
