// Icons

@use "./channel";
@use "./device";

@each $oldpath, $newpath in channel.$pathpairs {
    // Channel list
    .icon_eff5d4 path[d^="#{$oldpath}"],
    // Header
    .children__32014 path[d^="#{$oldpath}"] {
        d: path($newpath);
        fill-rule: evenodd;
    }
}

@each $oldpath, $newpath in device.$pathpairs {
    .sessionIcon__540be path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}
