// Icons

@use "./channel";
@use "./device";

@each $oldpath, $newpath in channel.$pathpairs {
    // Channel list
    .icon__67ab4 path[d^="#{$oldpath}"],
    // Header
    .children_cde9af path[d^="#{$oldpath}"] {
        d: path($newpath);
        fill-rule: evenodd;
    }
}

@each $oldpath, $newpath in device.$pathpairs {
    .sessionIcon_df2e9c path[d^="#{$oldpath}"] {
        d: path($newpath);
    }
}
