// Discord's new variables

:root {
	--radius-xs: var(--squared-radius);
	--radius-sm: var(--squared-radius);
	--radius-md: var(--squared-radius);
	--radius-lg: var(--squared-radius);
	--radius-xl: var(--squared-radius);
	--radius-xxl: var(--squared-radius);
	--radius-round: var(--squared-radius);
}
