.theme-dark .imageLoading_b000dd,
.theme-light .imageLoading_b000dd {
	background-image: none;
}

// Emoji picker
.sprite_af14ca {
	&.spriteColored_af14ca {
		background-image: url("https://minidiscordthemes.github.io/Squared/img/emoji-color.avif");
	}
	&.spriteGreyscale_af14ca {
		-webkit-mask-image: url("https://minidiscordthemes.github.io/Squared/img/emoji-greyscale.avif");
		mask-image: url("https://minidiscordthemes.github.io/Squared/img/emoji-greyscale.avif");
		border-radius: var(--squared-radius);
	}
}

// Authorised apps permissions check
.permissionCheckmark_f0135d {
	background-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m0 0h18v18h-18z'/%3E%3Cpath d='M 14 14 h -10 v -10 h 8 v -2 h -10 v 14 h 14 v -7.75 h -2 z m -7.5675 -6.94 l -1.0575 1.065 l 3.375 3.375 l 7.5 -7.5 l -1.0575 -1.065 l -6.4425 6.4425 z' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
}

// Appearance selected theme inner circle
.checkmarkCircle_cb7c27 {
	circle {
		display: none;
	}

	.checkmark_cb7c27 {
		d: path("M 2 2 V 22 H 22 V 2 Z M 10 17 L 5 12 L 6.41 10.59 L 10 14.17 L 17.59 6.58 L 19 8 L 10 17 Z");
	}
}

// Subscriptions no items icon
.noItemsIcon_a206c7,
.noItemsIcon_e70817 {
	circle {
		display: none;
	}
}

// Voice and video shortcut keybind
.editIcon_ebcd80 {
	background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M 22 5 H 2 L 2 19 H 22 Z M 11 8 H 13 V 10 H 11 Z M 11 11 H 13 V 13 H 11 Z M 8 8 H 10 V 10 H 8 Z M 8 11 H 10 V 13 H 8 Z M 7 13 H 5 V 11 H 7 Z M 7 10 H 5 V 8 H 7 Z M 16 17 H 8 V 15 H 16 Z M 16 13 H 14 V 11 H 16 Z M 16 10 H 14 V 8 H 16 Z M 19 13 H 17 V 11 H 19 Z M 19 10 H 17 V 8 H 19 Z' fill='%23fff' fill-rule='nonzero'/%3E%3Cpath d='m0 0h24v24h-24zm0 0h24v24h-24z'/%3E%3C/g%3E%3C/svg%3E");
}

// User profile status light theme
.wrapper_c51b4e circle {
	display: none;
}
