.bd-addon-error-icon,
.bd-addon-error,
.bd-addon-list .bd-addon-card,
.bd-button,
.bd-changelog-modal img,
.bd-changelog-modal video,
.bd-controls > .bd-addon-button:only-child,
.bd-controls > .bd-addon-button:first-of-type,
.bd-controls > .bd-addon-button:last-of-type,
.bd-description code,
.bd-description-wrap .banner,
.bd-filled-checkmark,
.bd-notice-button,
.bd-notice:first-child,
.bd-number-input,
.bd-pagination button,
.bd-placeholder-card,
.bd-search-wrapper,
.bd-select .bd-select-options,
.bd-select-transparent .bd-select-options,
.bd-select,
.bd-server-card,
.bd-server-count-dot,
.bd-server-icon,
.bd-server-tag,
.bd-switch-body,
.bd-tab-item,
.bd-toast,
#bd-editor-controls button,
#bd-pub-button {
    border-radius: 0;
}
